<section class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Portal Alunos</a></li>
          <li class="breadcrumb-item active" aria-current="page">Lista Professores</li>
        </ol>
</nav>     
 <div class="card">
    <form action="">
    <div class="card-body">        
        <div class="form-group mb-2">
            <input type="text" class="form-control" placeholder="Digite o nome do professor">
        </div>       
    </div>
    </form>
 </div>
 <br>
 <div class="card">
    <div class="card-header">
        <h5>Lista de Professores</h5>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Horário</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let professor of professoresFiltrados">
                    <td><i class="fa-solid fa-user"></i> {{ professor.nome }} </td>
                    <td><i class="fa-solid fa-mobile"></i> {{ professor.telefone }} </td>
                    <td><i class="fa-solid fa-envelope"></i> {{ professor.email }} </td>
                    <td><i class="fa-thin fa-timer"></i> {{ professor.horario }} </td>
                    <td><button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#modalExemplo"><i class="fa-solid fa-trash-can"></i></button> </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>   
</section>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Salvar mudanças</button>
        </div>
      </div>
    </div>
  </div>



